action-msgs==1.2.1
action-tutorials-interfaces==0.20.3
action-tutorials-py==0.20.3
actionlib-msgs==4.2.3
aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1701099674487/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
ament-cmake-test==1.3.3
ament-copyright==0.12.5
ament-cppcheck==0.12.5
ament-cpplint==0.12.5
ament-flake8==0.12.5
ament-index-python==1.4.0
ament-lint==0.12.5
ament-lint-cmake==0.12.5
ament-package==0.14.0
ament-pep257==0.12.5
ament-uncrustify==0.12.5
ament-xmllint==0.12.5
angles==1.15.0
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1699370045702/work
argcomplete @ file:///home/conda/feedstock_root/build_artifacts/argcomplete_1706095296697/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1703154663129/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1695989934239/work
builtin-interfaces==1.2.1
catkin-pkg @ file:///home/conda/feedstock_root/build_artifacts/catkin_pkg_1694651879177/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1696001737800/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
composition-interfaces==1.2.1
conda==23.3.1
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1680508672016/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1691048088238/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1691009212940/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1699041432046/work
cppcheck==0.0.0
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography-split_1706658655661/work
cv-bridge==3.2.1
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
demo-nodes-py==0.20.3
diagnostic-msgs==4.2.3
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1675116244235/work
docutils @ file:///Users/runner/miniforge3/conda-bld/docutils_1701882681590/work
domain-coordinator==0.10.0
empy==3.3.4
example-interfaces==0.9.3
examples-rclpy-executors==0.15.1
examples-rclpy-minimal-action-client==0.15.1
examples-rclpy-minimal-action-server==0.15.1
examples-rclpy-minimal-client==0.15.1
examples-rclpy-minimal-publisher==0.15.1
examples-rclpy-minimal-service==0.15.1
examples-rclpy-minimal-subscriber==0.15.1
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1704483779980/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1707240122963/work
frozenlist @ file:///Users/runner/miniforge3/conda-bld/frozenlist_1702645565720/work
geometry-msgs==4.2.3
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1701026962277/work
image-geometry==3.2.1
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1703269254275/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1699364556997/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1673103042956/work
interactive-markers==2.3.2
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer @ file:///Users/runner/miniforge3/conda-bld/jsonpointer_1695397382064/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1695379982481/work
lark-parser @ file:///home/conda/feedstock_root/build_artifacts/lark-parser_1630320752939/work
laser-geometry==2.4.0
launch==1.0.4
launch-ros==0.19.4
launch-testing==1.0.4
launch-testing-ros==0.19.4
launch-xml==1.0.4
launch-yaml==1.0.4
libmambapy @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1680791351028/work/libmambapy
lifecycle-msgs==1.2.1
logging-demo==0.20.3
loguru @ file:///Users/runner/miniforge3/conda-bld/loguru_1695547399465/work
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1671013522951/work
mamba @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1680791351028/work/mamba
map-msgs==2.1.0
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1700509537450/work
mccabe @ file:///home/conda/feedstock_root/build_artifacts/mccabe_1643049622439/work
menuinst @ file:///Users/runner/miniforge3/conda-bld/menuinst_1702317138933/work
message-filters==4.3.2
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1707040775055/work
munkres==1.1.4
nav-msgs==4.2.3
netifaces @ file:///Users/runner/miniforge3/conda-bld/netifaces_1695545483760/work
numpy==1.26.4
opencv-python==4.6.0
osrf-pycommon==2.0.2
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pcl-msgs==1.0.0
pendulum-msgs==0.20.3
pep517 @ file:///home/conda/feedstock_root/build_artifacts/pep517_1667916641627/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1666920704573/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1701708255999/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1693086607691/work
ply==3.11
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1705722472945/work
pybind11 @ file:///Users/runner/miniforge3/conda-bld/pybind11-split_1695367269352/work
pybind11-global @ file:///Users/runner/miniforge3/conda-bld/pybind11-split_1695367269352/work
pybullet @ file:///Users/runner/miniforge3/conda-bld/bullet_1683006112385/work
pycairo==1.25.0
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1697202867721/work
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1696355969704/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydocstyle @ file:///home/conda/feedstock_root/build_artifacts/pydocstyle_1673997487070/work
pydot @ file:///Users/runner/miniforge3/conda-bld/pydot_1704461021490/work
pyflakes @ file:///home/conda/feedstock_root/build_artifacts/pyflakes_1704424584912/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1641580240686/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1706660063483/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1690737849915/work
PyQt-builder @ file:///home/conda/feedstock_root/build_artifacts/pyqt-builder_1701609913068/work
PyQt6==6.6.1
PyQt6-Qt6==6.6.3
PyQt6-sip==13.6.0
pyqtgraph==0.13.4
pyserial==3.5
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1704035161844/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-qt-binding==1.1.1
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1695373498369/work
qt-dotgraph==2.2.2
qt-gui==2.2.2
qt-gui-cpp==2.2.2
qt-gui-py-common==2.2.2
quality-of-service-demo-py==0.20.3
rcl-interfaces==1.2.1
rclpy==3.3.7
rcutils==5.1.2
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
resource-retriever==3.1.1
rmw-dds-common==1.6.0
ros2action==0.18.5
ros2bag==0.15.4
ros2cli==0.18.5
ros2component==0.18.5
ros2doctor==0.18.5
ros2interface==0.18.5
ros2launch==0.19.4
ros2lifecycle==0.18.5
ros2multicast==0.18.5
ros2node==0.18.5
ros2param==0.18.5
ros2pkg==0.18.5
ros2run==0.18.5
ros2service==0.18.5
ros2topic==0.18.5
rosbag2-interfaces==0.15.4
rosbag2-py==0.15.4
rosdistro @ file:///Users/runner/miniforge3/conda-bld/rosdistro_1695545925392/work
rosgraph-msgs==1.2.1
rosidl-adapter==3.1.4
rosidl-cli==3.1.4
rosidl-cmake==3.1.4
rosidl-generator-c==3.1.4
rosidl-generator-cpp==3.1.4
rosidl-generator-py==0.14.4
rosidl-parser==3.1.4
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.0
rosidl-typesupport-cpp==2.0.0
rosidl-typesupport-fastrtps-c==2.2.0
rosidl-typesupport-fastrtps-cpp==2.2.0
rosidl-typesupport-introspection-c==3.1.4
rosidl-typesupport-introspection-cpp==3.1.4
rospkg @ file:///home/conda/feedstock_root/build_artifacts/rospkg_1679367642027/work
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag==1.1.4
rqt-bag-plugins==1.1.4
rqt-console==2.0.2
rqt-graph==1.3.0
rqt-gui==1.1.4
rqt-gui-py==1.1.4
rqt-msg==1.2.0
rqt-plot==1.1.2
rqt-publisher==1.5.0
rqt-py-common==1.1.4
rqt-py-console==1.0.2
rqt-reconfigure==1.1.1
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1698138674285/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1695996997220/work
sensor-msgs==4.2.3
sensor-msgs-py==4.2.3
setuptools==61.0.0
shape-msgs==4.2.3
sip @ file:///Users/runner/miniforge3/conda-bld/sip_1707502221985/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1637143057757/work
sros2==0.10.4
statistics-msgs==1.2.1
std-msgs==4.2.3
std-srvs==4.2.3
stereo-msgs==4.2.3
teleop-twist-keyboard==2.3.2
tf2-geometry-msgs==0.25.2
tf2-kdl==0.25.2
tf2-msgs==0.25.2
tf2-py==0.25.2
tf2-ros-py==0.25.2
tf2-tools==0.25.2
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1706112571092/work
topic-monitor==0.20.3
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1691671248568/work
trajectory-msgs==4.2.3
truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1694154605758/work
turtlesim==1.4.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1702176139754/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1695848003431/work
unique-identifier-msgs==2.2.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1699933488691/work
visualization-msgs==4.2.3
vtk==9.2.2
wheel==0.42.0
wslink @ file:///home/conda/feedstock_root/build_artifacts/wslink_1698265052461/work
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1705508355339/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
zstandard==0.22.0
